img{
    width: 350px;
    height: 300px;
}

#burger-title{
    color: #e89d30;
    
}

#newBurgerInput{
    width: 500px;
    margin-left: 305px;
}

#addBurger{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 316px;
}

#form-group{
    width: 100%;
}

#labelNewBurger{
    margin-left: 305px;
}

footer{
    text-align: center;
    background-color: #e89d30;
    padding: 20px;
}

.devoir{
    margin-left: -200px;
}